{{#each posts as |post|}}
<div class="container update" id={{post.id}}>
    <div class="card mt-2">
    <div class="card-header">{{post.title}}</div>
    <div class="card-body">
        <p class="card-text">{{post.content}}</p>
        <button type="submit" class="btn btn-primary update" id={{post.id}}>UPDATE</button>
        <button type="submit" class="btn btn-danger delete" id={{post.id}}>DELETE</button>
    </div>
    </div>
</div>
{{/each}}

{{#if post}}
<script src="./js/dashboard.js"></script>
{{/if}}